main {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  justify-content: space-evenly;
  
}
.card1 {
  
  border: solid black 2px;
  height: 450px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card2 {
  background-color: pink;
  border: solid black 2px;
  height: 450px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.card3 {
  
  border: solid black 2px;
  height: 450px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}






.card button {
  margin-top: 15px;
}
.button1 {
  border-radius: 25px;
  background-color: black;
  color: aliceblue;
  border: 10px;
  padding: 10px 40px;
}
.b {
  border: solid black 10px;
}
